<!-- <div class="container-fluid" style="background-color: blue">
  <div class="row">
    <div class="col-md-12">Image</div>
    <div class="col-md-6">
      Description:
      <p>{{productTitle}}</p>

    </div>
  </div>
</div> -->
<div class="container-fluid" style="margin-top: 10px;">
  <div class="row">
    
    <div class="col-md-1">
      Sidebar
    </div>

    <div class="col-md-5">
      <img src="https://images.thesouledstore.com/public/theSoul/uploads/catalog/product/20180915203236-1.jpg?h=449&w=449">
    </div>

    <div class="col-md-6">
      Description: <br>
      {{productTitle}}
      <span>{{price}}</span>
    </div>
  </div>
</div>
