<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets\products\cataloguebanner.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">Sidebar</div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <app-product-catalogue></app-product-catalogue>
        </div>
      </div>
    </div>
  </div>
</div>
